/*.blog-post{
    padding-left: 2px;
}
.ul{
    padding-left: 2px;
    box-sizing: border-box;*/

@media (min-width: 768px){
    .navbar-expand-md .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: space-between;
    }}
    .fixed-top{
        position: fixed; 
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;}
        
        .row{
            align-items: center;
            justify-content: space-between;
        }
            
        .nav {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: nowrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                flex-direction: row;
                align-content: stretch;
                justify-content: space-around;
                align-items: baseline;
            }
            
.col-lg-4{
text-align: center;
padding: 5px;
box-sizing: border-box;
        }
        .row {
            align-items: baseline;
            justify-content: space-between;
        }
        .h1, h1 {
            /* font-size: 2.5rem; */
            font-size: medium;
        }
        .p{
            font-size: small;
        }
        #titulo{
            color: rgb(0, 0, 0);
            
        }
        .carousel-caption {
            position: absolute;
            right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            /* padding-bottom: 20px; */
            color: #fff;
            text-align: center;}

            /* barra de navegacion*/
            .nav {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: nowrap;
                padding-left: 0;
                margin-bottom: 0;
                list-style: none;
                flex-direction: row;
                align-content: stretch;
                justify-content: center;
                align-items: center;
            }       
            .nav-link:hover{
                color: #000;
                font-weight: 500;
                border-bottom: 3px solid rgb(5, 198, 208);
                border-radius: 0%;
                

            }
            .nav-link{
                margin: 10px;
            }
            .mb-3, .my-3 {
                 margin-bottom: 0;
            }
            .navbar {
                text-align: center;
                align-items: baseline;
            }
            .navbar-navbar-expand-md-navbar-dark-fixed-top-bg-dark{
                text-align: center;
                align-items: baseline;
                justify-content: space-between;
                padding-top: 16px;
                
            }
            .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
                background-color: transparent;
                border-color:rgb(5, 198, 208) ;
                border-bottom: 3px solid rgb(5, 198, 208) ;
                border-radius: 0%;
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 500;
                padding-right: 20px;
            }
            .bg-dark {
                background-image:linear-gradient(to right bottom, #ff9b00, #f1b400, #d9cd00, #b7e500, #84fb00); /*linear-gradient(to right, #00bdff, #00cefe, #00dceb, #00e7c8, #00ef9a, #4aed76, #71e94d, #94e300, #b8d500, #d5c700, #edb700, #ffa600);*/
            }
            .navbar-brand{
                color: #000;
                padding-right: 40%;
                padding-left: 2%;
                box-sizing: border-box;
                font-weight: 600;
                font-size: x-large;
            }
            .navbar-dark .navbar-toggler {
                color: #ffffff;
                border-color: rgb(255, 255, 255);
                border-radius: 8px;
                ;
            }
            /* carrousel */
            .carousel-caption {
                position: absolute;
                right: 15%;
                bottom: 20px;
                left: 15%;
                z-index: 10;
                padding-top: 20px;
                padding-bottom: 20px;
                color: #000;
                text-align: center;
                font-weight: 600;
                font-size: larger;
                color:  #000000;
            }
            .text-left {
                text-align: left!important;
            }
            .carrousel-tittle{
                font-weight: 800;
                font-size: larger;
                
            }
            
            /* pestaña inicio */

            .blog-post{
                padding-left: 25px;
                padding-right: 25px;
                box-sizing: border-box;
                background-color: #ffffff;
            }
            h2, h3{
                text-align: center;
            }

            /* pestaña alimentos */
            
            #dieta{
                list-style: none;
            }
            #encabezado-alimentos{
                font-size: xx-large;
                font-weight: 500;
            }

            /* pestaña entrenamientos */

            .lead{
                color: #000;
            }
            b{
                color: rgb(5, 198, 208);
            }
            img {
                vertical-align: text-top;
                border-style: none;
            }
            #gimnasios{
                list-style: none;
            }

            /* pestaña ayuda */

            .card-map{
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    border-color:#000;
            }
            .card-body{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-color: #000;
                
            }

            /* footer*/
            footer{
                background-image: linear-gradient(to right bottom, #ff9b00, #f1b400, #d9cd00, #b7e500, #84fb00);;
            }
            .material-symbols-outlined{
                color: #ffffff;
            }
            .d-block-mb-3-text-muted{
                color: #ffffff;
                padding-left: 2%;
                box-sizing: border-box;
            }
            .back-to-top:hover{
                cursor: pointer;
                border-radius: 5%;
                padding-left: 5%;
                box-sizing: border-box;


            }
            .row{
                padding-left:25px; 
            }
@import 
url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}
.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}
path:hover{
    color: #ffffff;
}
a{
    color: #000;
}
a:hover{
    color:white
}
footer{
    padding-bottom: 0%;
    margin-bottom: 0;
}
.noselect {

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
          
  }
  
  .noselect {
      width: 50px;
      height: 50px;
      cursor: pointer;
      background-color: #ffffff;
      border-radius: 50%;
      transition: 200ms;
      border-color: #ffffff;
      
      
  }
  
   .fa-solid-fa-angle-up{
    padding-top: 6px;
      fill:#000;
      color: #000;
      width: 30px;
      height: 30px;
      position: absolute;
      transform: translateX(-50%) translateY(-50%);
      align-items: center;
  }
  
  .noselect:before {
      content: 'Back to Top';
      position: absolute;
      transform: translateX(-50%) translateY(45px);
      font-size: 15px;
      transition: 200ms;
      color: transparent;
      font-weight: bold;
  }
  
  .noselect:hover {
      box-shadow: 0 1px 5px rgba(0,0,0,0.2);
      width: 50px;
      height: 50px;
      background-color: #000;
      
  }
  
  .noselect:hover::before {
      color: #fff;
  }
  
  .noselect:hover i {
          /*animation: bounce 2s infinite linear;*/
          color: #ffffff;
          
  }
  
  @keyframes bounce {
      0% {transform: translateX(-50%) translateY(-50%)}
      25% {transform: translateX(-50%) translateY(-65%)}
      50% {transform: translateX(-50%) translateY(-50%)}
      75% {transform: translateX(-50%) translateY(-35%)}
      100% {transform: translateX(-50%) translateY(-50%)}
  }
  
  button:focus {
      outline: none;
  }
  button, input, optgroup, select, textarea {
    margin: 20px;
    margin-bottom: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
}

